{% extends 'shop/basic.html' %}
{%block title%}  about Us  {% endblock %}
{%block body%}  <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: bisque;">
    <div class="container">
      <h1 class="display-3">Bhagyank Jewellers</h1>
      <p>Bhagyank Jewellers is an Indian-origin social commerce platform founded by IIT Delhi graduates Bhagyashri Sonar and Manik Sonar in December 2015. [1] [2] [3] It enables small businesses and individuals to start their online shops through social websites like WhatsApp , Facebook , Instagram etc. MyAwesomeCart is headquartered in Bengaluru, India and was one of three Indian companies to be selected for Y Combinator in 2016. [4] It was also part of the first batch of the Google Launchpad Solve for India program. [5] In June 2019, MyAwesomeCart Facebook[6] Became the first startup in India.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Bhagyashri Sonar</h2>
        <p>Bhagyashri Sonar(born 16 Oct 1993) is an Indian billionaire businesswoman,[3][4] who is the founder and CEO of the online shopping retail company MyAwesomeCart, formally known as BS E-Commerce Ventures which is an acronym of her own name.[5][6] Mrs. Sonar is one of two self-made female Indian billionaires.She made an example.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Manik Sonar</h2>
        <p>Manik soanr, an almunus of IIT-Delhi (2012 batch), embarked on the journey of creating MyAwesomeCart in 2015 with an aim to build an ecommerce startup for small businesses at a time when everyone told them that ecommerce is saturated. Four years and two pivots later, he claims to have built India’s largest social commerce platform.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; bhagyankjewellers 2017-2023</p>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


   {% endblock %}